/* PHASE 1: Header */

body {
  font-family:sans-serif ;
  font-size: 24px;
  font-weight: 400;
  background-color: #eee;
}

.header {
  background-color: #f00;
  border-bottom: 1px solid #aaa;
  color: #fff;
   
}

.header a {
  display: block;
  padding: 2px;
}

.header-nav {
  width: 900px;
  margin: auto;
}